h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;

  &:focus {
    border: 0;
    outline: none;
  }
}
