@use "./breakpoints.scss" as breakPoint;

@mixin flex($js, $al, $di) {
  display: flex;
  justify-content: $js;
  align-items: $al;
  flex-direction: $di;
}

@mixin backgroundImage($urlText) {
  background-image: url($urlText);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin largeScreen() {
  @media (min-width: map-get($map: breakPoint.$breakPoints, $key: "medium")) {
    @content;
  }
}